html {
    overflow-y: scroll;
}

body {
    background-image: url(../img/bg.png);
    border-top: .5rem solid #DC8C3C;	/*was DC143C*/
    color: #444;

    -webkit-box-shadow: inset 0px .5rem 2rem 0px rgba(0, 0, 0, 0.33);
    box-shadow: inset 0px .5rem 2rem 0px rgba(0, 0, 0, 0.33);
}

a {
    color: #DC8C3C;	/*was DC143C*/
    -o-transition:color .2s ease-out, background 1s ease-in;
    -ms-transition:color .2s ease-out, background 1s ease-in;
    -moz-transition:color .2s ease-out, background 1s ease-in;
    -webkit-transition:color .2s ease-out, background 1s ease-in;
    /* ...and now override with proper CSS property */
    transition:color .2s ease-out, background 1s ease-in;
}

a:hover, a:active {
    color: #99612A;   /* was #990E2A; */
    text-decoration: none;
}

h1, h2 {
    -webkit-text-shadow: 0 1px 2px #aaa;
    text-shadow: 0 1px 2px #aaa;
}

.content > section,
#site-header, #site-footer {
    margin-bottom: 3rem;
}

#site-logo {
    padding: 1.5rem 0 1.35rem;
    text-align: center;
}

.content section {
    background: url(/theme/img/divider.png) no-repeat center bottom;
    padding-bottom: 3rem;
}

.content section:last-of-type {
    background: none;
    padding-bottom: 0;
}

.content section p {
    text-align: justify;
    -moz-text-align-last: left; 
    text-align-last: left;
    margin-bottom: 1rem;
}

#site-header h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    border-bottom: 1px dashed #e0e0e0;
}

#site-header h1 small {
    font-size: 1.25rem;
    color: #666;
}

@media screen and (max-width: 767px) {
    #site-header h1 small {
        display: block;
    }

    #site-header h1 small .divider {
        display: none;
    }
}

#site-header h1 a {
    color: #000;
}

#site-header p {
    font-size: 1rem;
    font-style: italic;
    color: #bbb;
    position: relative;
    border-bottom: 1px dashed #e0e0e0;
    padding-bottom: .5rem;
}

@media screen and (min-width: 768px) {
    #site-header p:before {
        display: block;
        content: "\201C";  /* open quotes */
        font-size: 4rem;
        position: absolute;
        left: -2.5rem;
        top: 1.25rem;
        color: #e4e4e4;
    }
}

#sidebar {
    position: relative;
    background-image: url(../img/debut_dark.png);
    padding: .5rem 2rem 1rem;
    margin-top: -.5rem;

    -webkit-border-radius: 0px 0px 4px 4px;
    border-radius: 0px 0px 4px 4px;

    -webkit-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
}

.icon-white {
    color:white;
    font-size:1.0rem
    padding: .25rem;
}

.drag-left {
    margin-left: -18px;
}

#social-icons {
    margin-top: .5rem;
    font-size:1.0rem;
}

#social-icons {
    text-align: center;
}

#social-icons a {
    padding-left: 0.25rem;
    color: white;
}

#social-icons a:hover {
    padding-left: 0.25rem;
    color: #bbb;
}

#sidebar h1, #sidebar h1 a {      
    color: #f0f0f0;
    /*font-size:1.25rem;*/
    font-size: 1.75rem;
}

#sidebar h1 a:hover {
    text-decoration: underline;
}

/*
#sidebar h1 a:not(:hover){      
    color:#f0f0f0  
}*/

#sidebar li {
    font-size:0.875rem;
}

#navigation nav ul {
    margin: 0px;
    list-style: none;
}

#navigation nav li {
    /*font-size: 0.875rem;*/
    /*text-transform: uppercase;*/
    font-style: italic;
}

ul.tagcloud {
    list-style: none;
    padding: 0;
}

ul.tagcloud li {
    display: inline-block;
}

li.tag-1 {
    font-size: 1.4rem !important;
}
li
.tag-2 {
    font-size: 1.15rem !important;
}

li.tag-3 {
    font-size: .875rem !important;
}

li.tag-4 {
    font-size: .6rem !important;
}

#navigation nav li .separator {
    padding: .5rem 0;
    color: #999;
}

@media screen and (min-width: 768px) {
    #site-header, #site-footer, .content {
        padding: 0 3rem;
    }
}

article h1 {
    /*text-transform: uppercase;*/
    font-variant: small-caps;
}

article h1, article h2, article h3, article h4, article h5, article h6 {
    margin-top: 2rem;
    text-shadow: none;
}

article h1 {
    font-size: 1.4rem;
    font-weight: 700;   
}

article h2 {
    font-size: 1.3rem;
    font-weight: 700;
}

article h3 {
    font-size: 1.2rem;
    font-weight: 700;
}

article header {
    margin-bottom: 2rem;
}

article header h1 {
    margin-bottom: 0;
    position: relative;
}

@media screen and (min-width: 768px) {
    section h1:before {     /* made section instead of header so not on 'categories.html' etc */
        display: block;
        content: "\00b6";    /* Pilcrow (¶) */
        font-size: 2rem;
        position: absolute;
        left: -1.75rem;
        top: .25rem;
        color: #e4e4e4;

        -webkit-text-shadow: none;
        text-shadow: none;
    }
}

article header h1 a {
    color: #000000;
}

article header time {
    color: #bbb;
    font-style: italic;
    margin-top: 0.5rem;
    display: block;
}

article header time:before {
    content: "\2014\A0";
}

article img {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.3);
    margin-top: 4px;
    margin-bottom: 4px;
/*    margin: 4px 14px 4px 14px;*/
}

article footer {
    margin-top: 2rem;
}

article footer p {
    font-size: 0.75rem;
    line-height: 1rem;
    color: #aaa;
    margin-bottom: 0 !important;
}

#site-footer {
    margin-bottom: 2rem;
    padding-top: .75rem;
    border-top: 1px dashed #e0e0e0;
}

#site-footer p {
    font-size: small;
    line-height: 1rem;
    color: #bbb;
    margin: 0;
}

.paginator {
    margin-bottom: 2rem;
    color: #999;
}

blockquote p {
    font-size: .875rem;
    font-style: italic;
    color: #777;
}

table {
    font-size: .75rem;   
    line-height: .8rem;
    max-width: 100%;
    width: 100%;
}

td {
    /*border: 1px solid #ddd;*/
    padding: 3px 5px;
}


blockquote,.pullquote,
h1,h2,h3,
ol,ul,dl,
p
{
    font:normal normal 400 1.125rem/1.5rem Georgia, serif;
    list-style:none;
}

.footnote li, .footnote p, .footnote img{
    font-size: .75rem;
    /*vertical-align: bottom;*/
}

.centerme {
    text-align: center !important;
    -moz-text-align-last: center !important; 
    text-align-last: center !important;
    margin-right: auto !important;
    margin-left: auto !important;
}

.pullquote {
    font-size: 2rem;
    color:#777;
    line-height: 105%;
    
    border-left-color: #EEE;
    border-left-style: solid;
    border-left-width: 5px;

    padding-top: -50px;
    padding-left: 20px;
    padding-bottom: 0px;

    margin-bottom: 20px;
/*    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;*/
}

@media screen and (min-width: 768px) {
    .pullquote::before {
        content: "\201C";   /* open quotes */
        font-size: 4rem;
        display: inline-block;
        position: relative;

        margin-left: -2.1rem;
        left: -1.5rem;
        top: 1.25rem;
        color: #e4e4e4;
        margin-top: -1.0rem;
    }
}


.summary-footer {
    display: inline;
    margin: 0;

    font-style: italic;
    float: right;
}




ul {
    list-style: square;
}

ol {
    list-style: decimal;
}

li {
    line-height: 24px;
}

code {
    color:#057021
}

.highlight {
    margin: 1.5rem 0;
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #aaaaaa; font-style: italic } /* Comment */
.highlight .err { color: #FF0000; background-color: #FFAAAA } /* Error */
.highlight .k { color: #0000aa } /* Keyword */
.highlight .cm { color: #aaaaaa; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #4c8317 } /* Comment.Preproc */
.highlight .c1 { color: #aaaaaa; font-style: italic } /* Comment.Single */
.highlight .cs { color: #0000aa; font-style: italic } /* Comment.Special */
.highlight .gd { color: #aa0000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00aa00 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #0000aa } /* Keyword.Constant */
.highlight .kd { color: #0000aa } /* Keyword.Declaration */
.highlight .kn { color: #0000aa } /* Keyword.Namespace */
.highlight .kp { color: #0000aa } /* Keyword.Pseudo */
.highlight .kr { color: #0000aa } /* Keyword.Reserved */
.highlight .kt { color: #00aaaa } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #aa5500 } /* Literal.String */
.highlight .na { color: #1e90ff } /* Name.Attribute */
.highlight .nb { color: #00aaaa } /* Name.Builtin */
.highlight .nc { color: #00aa00; text-decoration: underline } /* Name.Class */
.highlight .no { color: #aa0000 } /* Name.Constant */
.highlight .nd { color: #888888 } /* Name.Decorator */
.highlight .ni { color: #880000; font-weight: bold } /* Name.Entity */
.highlight .nf { color: #00aa00 } /* Name.Function */
.highlight .nn { color: #00aaaa; text-decoration: underline } /* Name.Namespace */
.highlight .nt { color: #1e90ff; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #aa0000 } /* Name.Variable */
.highlight .ow { color: #0000aa } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #009999 } /* Literal.Number.Bin */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #aa5500 } /* Literal.String.Backtick */
.highlight .sc { color: #aa5500 } /* Literal.String.Char */
.highlight .sd { color: #aa5500 } /* Literal.String.Doc */
.highlight .s2 { color: #aa5500 } /* Literal.String.Double */
.highlight .se { color: #aa5500 } /* Literal.String.Escape */
.highlight .sh { color: #aa5500 } /* Literal.String.Heredoc */
.highlight .si { color: #aa5500 } /* Literal.String.Interpol */
.highlight .sx { color: #aa5500 } /* Literal.String.Other */
.highlight .sr { color: #009999 } /* Literal.String.Regex */
.highlight .s1 { color: #aa5500 } /* Literal.String.Single */
.highlight .ss { color: #0000aa } /* Literal.String.Symbol */
.highlight .bp { color: #00aaaa } /* Name.Builtin.Pseudo */
.highlight .vc { color: #aa0000 } /* Name.Variable.Class */
.highlight .vg { color: #aa0000 } /* Name.Variable.Global */
.highlight .vi { color: #aa0000 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */


