{% extends '_article_base.html' %}

{% block article_content %}
    {{article.content}}
{% endblock %}

{% block article_footer %}
   <footer>
        <p>Posted in: <a href="{{SITEURL}}/{{article.category.url}}">{{article.category}}</a></p>
        <p>Tagged as: {% for tag in article.tags %}<a href="{{SITEURL}}/{{tag.url}}">{{tag}}</a>{% if not loop.last %} / {% endif %}{% endfor %}</p>
    </footer>

{% if DISQUS_SITENAME %}
	<br>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	    /* * * CONFIGURATION VARIABLES * * */
	    var disqus_shortname = '{{ DISQUS_SITENAME }}';
	    
	    /* * * DON'T EDIT BELOW THIS LINE * * */
	    (function() {
	        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	    })();
	</script>
	<noscript><a href="https://disqus.com/?ref_noscript" rel="nofollow">Comments powered by Disqus</a> may be available after enabling javascript.</noscript>
{% endif %}

{% endblock %}
