{% extends "base.html" %}

{% block title %}Archives / {{SITENAME}}{% endblock %}

{% block content %}
    <article>
        <header style="margin-bottom: 10px"><h1>
            <i class="fas fa-archive icon" aria-hidden="true"></i>All Articles
        </h1></header>
    </article>

    <section>
    <ul style="list-style: none;">      
        {% for article in dates %}
            {# <time datetime="{{article.date.isoformat()}}">{{article.date.year}}</time>: #}
            <li><a href="{{ SITEURL }}/{{ article.url }}"><i class="fas fa-file-alt icon" aria-hidden="true"></i>{{ article.title }}</a></li>
        {% endfor %}
    </ul>
    </section>
    
{% endblock %}
