<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en-US"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{SITENAME}}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="shortcut icon" href="{{SITEURL}}/theme/favicon.ico" />
        <link rel="apple-touch-icon" href="{{SITEURL}}/theme/apple-touch-icon-iphone.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="{{SITEURL}}/theme/apple-touch-icon-ipad.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="{{SITEURL}}/theme/apple-touch-icon-iphone4.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="{{SITEURL}}/theme/apple-touch-icon-ipad3.png" />

        <link rel="stylesheet" href="{{SITEURL}}/theme/css/purgedpure.css">
        <link rel="stylesheet" href="{{SITEURL}}/theme/css/bootstrap2.css">
        <link rel="stylesheet" href="{{SITEURL}}/theme/css/bootstrap2-responsive.css">
        <link rel="stylesheet" href="{{SITEURL}}/theme/css/colorbox.css">
        <link rel="stylesheet" href="{{SITEURL}}/theme/css/main.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span9">
                    <header id="site-header">
                        <h1>
                            <a href="{{SITEURL}}">{{SITENAME}}</a>
                            <small>
                                <span class="divider">/</span> {{SITETAGLINE}}
                            </small>
                        </h1>
                        <p>
                            {{SITEDESCR}}
                        </p>
                    </header>

                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>

                    <footer id="site-footer">
                        <p>
                            <a href="{{LICENSE_URL}}" target="_blank">
                                {{LICENSE_IMAGE}}
                            </a>
                            </a> {{AUTHOR}}
                        </p>
                        <p>
                            Website <a href="http://github.com/tofof/tofof.com" target="blank">source code</a> (GPLv3), available at GitHub 
                            / Powered by <a href="https://github.com/getpelican/pelican" target="_blank">Pelican</a>
                        </p>
                        <p>
                            <i>Euler</i> <a href="http://github.com/tofof/euler-theme" target="_blank">theme</a> (GPLv3), also available at GitHub
                            / Powered by <a href="http://jinja.pocoo.org/" target="_blank">Jinja2</a>
                        </p>
                       
                    </footer>
                </div> <!-- header+content+footer span -->

                <div class="span4">
                    <aside id="sidebar">
                        <div id="site-logo">
                            <a href="{{SITEURL}}">
                                <img alt="{{SITENAME}}" src="{{SITEURL}}/{{SITELOGO}}"/>
                            </a>
                        </div>

                        <div id="navigation">
                            {% include 'navigation.html' %}
                        </div>
                    </aside>
                </div> <!-- logo+navigation span -->
            </div> <!-- row -->
        </div> <!-- /container -->
        
        <link rel="stylesheet" href="{{SITEURL}}/theme/css/colorbox.css">
        
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous"> 

        <script src="{{SITEURL}}/theme/js/vendor/modernizr-output.js"></script>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{SITEURL}}/theme/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
        <script>$('body').popover || document.write('<script src="{{SITEURL}}/theme/js/vendor/bootstrap.min.js"><\/script>')</script>

        <script src="{{SITEURL}}/theme/js/vendor/jquery.colorbox-min.js"></script>

        <script src="{{SITEURL}}/theme/js/main.js"></script>
        
        {% if GOOGLE_ANALYTICS_CODE %}
            <script>
                var _gaq=[['_setAccount','{{GOOGLE_ANALYTICS_CODE}}'],['_trackPageview']];
                (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                s.parentNode.insertBefore(g,s)}(document,'script'));
            </script>
        {% endif %}
    </body>
</html>
