{% extends "base.html" %}

{% block title %}Categories / {{SITENAME}}{% endblock %}

{% block content %}
    <article>
    	<header style="margin-bottom: 10px"><h1>
			<i class="fas fa-folder-open icon" aria-hidden="true"></i>All Categories
		</h1></header>
	</article>

	<section>
	<ul style="list-style: none;">		
	    {%- for category, articles in categories|sort %}
	        <li><a href="{{ SITEURL }}/{{ category.url }}"><i class="fas fa-folder icon" aria-hidden="true"></i>{{ category }}</a> ({{ articles|count }})</li>
	    {% endfor %}
	</ul>
	</section>
	
{% endblock %}
