{% extends "base.html" %}

{% block title %}{{category.name}} / {{SITENAME}}{% endblock %}

{% block content %}
    <article>
        <header style="margin-bottom: 10px"><h1>
            <a href="{{SITEURL}}/categories.html"><i class="fas fa-folder-open icon" aria-hidden="true"></i>Categories (back to list)</a>
        </h1></header>
    </article>

    <ul style="list-style: none;">
        <li><i class="fas fa-folder-open icon" aria-hidden="true"></i>{{category}}</li>
    </ul>
    
    <section>
    <ul style="list-style: none;">
    {% for article in dates %}
        <article style="margin-left:2rem">
            {# <time datetime="{{article.date.isoformat()}}">{{article.date.year}}</time>: #}
            <li><a href="{{ SITEURL }}/{{ article.url }}"><i class="fas fa-file-alt icon" aria-hidden="true"></i>{{article.title}}</a></li>
        </article>
    {% endfor %}
    </ul>
    </section>
{% endblock %}
