{% extends "base.html" %}

{% block title %}{{category}} / {{SITENAME}}{% endblock %}

{% block content %}
    <article><header style="margin-bottom: 10px"><h1>
    <a href="{{SITEURL}}/categories.html"><span class="icon-folder-open" style="margin-left:-21px; margin-right:5px; margin-top:-4px" title="Categories"></span>Categories for {{ SITENAME }}</a></h1></header></article>

    <ul style="list-style: none;">
        <li><span class="icon-folder-open" style="margin-left:-21px; margin-right:5px; margin-top:-2px" title="Category"></span>{{category}}
    </ul>
    <section>
    {% for article in dates %}
        <article style="margin-left:2rem">
            <time datetime="{{article.date.isoformat()}}">{{article.date.year}}</time>:
            <a href="{{SITEURL}}/{{article.url}}">
                {{article.title}}
            </a>
        </article>
    {% endfor %}
    </section>
{% endblock %}
