<nav>
	<h1><h1><a href="{{SITEURL}}/{{ARCHIVES_URL}}">Pages</a></h1>
	<ul>
		<li>
			<ul>
				<li>
					<a href="{{SITEURL}}">Main Blog</a>
				</li>
				{% for page in pages %}
					<li>
						<a href="{{SITEURL}}/{{page.url}}">{{page.title}}</a>
					</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</nav>

<nav>
	<h1><a href="{{SITEURL}}/categories.html">Categories</a></h1>
	<ul>
		<li>
			<ul>
				{% for cat in categories %}
					<li>
						<a href="{{SITEURL}}/{{cat.0.url}}">{{cat.0}}</a>
					</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</nav>

<nav>
	<h1><a href="{{SITEURL}}/tags.html">Tags</a></h1>
	<ul>
		<li>
			<ul class="tagcloud">
				{% for tag in tag_cloud %}
					<li class="tag-{{tag.1}}">
						<a href="{{SITEURL}}/{{tag.0.url}}">
						{{tag.0}}
							{% if TAG_CLOUD_BADGE %}
		                    	<span class="badge">{{ tag.2 }}</span>
                			{% endif %}
            			</a>
					</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
</nav>

<nav>
	<h1>Contact</h1>
	<ul>
		<li>
			<ul>
				{% if EMAIL_URL %}
					<li><span class="fas fa-envelope icon-white drag-left"></span>
						<a href="mailto:{{EMAIL_URL}}" target="_blank" title="Email">{{EMAIL_URL}}</a>
                    </li>
                {% endif %}
			</ul>
		</li>
	</ul>
</nav>





