{% extends "base.html" %}

{% block title %}Tags / {{SITENAME}}{% endblock %}

{% block content %}
    <article>
    	<header style="margin-bottom: 10px"><h1>
			<i class="fas fa-tags icon" aria-hidden="true"></i>All Tags
		</h1></header>
	</article>

	<section>
	<ul style="list-style: none;">		
	    {%- for tag, articles in tags|sort %}
	        <li><a href="{{ SITEURL }}/{{ tag.url }}"><i class="fas fa-tag icon" aria-hidden="true"></i>{{ tag }}</a> ({{ articles|count }})</li>
	    {% endfor %}
	</ul>
	</section>
	
{% endblock %}
